<h1>How to take care of chickens</h1>

It is very easy to take care of chickens. Some easy kinds are 

<ul>
	<li>Americauna</li>
	<li>Andalusian</li>
	<li>Australorp</li>
	<li>Barnvelder</li>
	<li>California Gray</li>
	<li>Cornish Cross</li>
	<li>Holland</li>
	<li>Hyline</li>
	<li>ISA Brown</li>
	<li>Langshan</li>
	<li>Minorca</li>
	<li>Naked Neck</li>
	<li>Orpington</li>
	<li>Production Red</li>
	<li>Rhode Island Red</li>
	<li>Rhode Island White</li>
	<li>Star</li>
	<li>Vorwerk</li>
	<li>Welsummer</li>
	<li>Wyandotte</li>
</ul>

<%= image_tag "two-chickies-in-hands.jpg" %>

This black chicken is a silver wyandotte. It has died already, because of the other chick. The yellow chick is an Americauna. It smothered that chick. That's why we named it Miss Easter Killer. It will lay Easter colored eggs and it smothered that chick, and now it is dead. 

<br />

<h2>Food and water amounts</h2>

With about three chicks you should feed them as much as they can eat. Also with about three chicks change there water two times a day. With about five grown up chickens, feed them as much as their bowl can hold. They'll usually eat it all. Feed your chickens every day at breakfast time, not lunch, not dinner, not snack, but breakfast. For the water of five full-grown chickens, about every day pour out a little bit of water. New water will flow in. About every five weeks, get the water can and take off the top and get new water in it. 

<h2>Are chickens easy to take care of?</h2>

<p>Kind of yes, kind of no. The easy part is. feeding holding and watering and the hard part is chaseing and herding chickens in to the coop when the pen falls down whitch I have to do and when it happens I herd them in or chase then grab then drop them in the coop if the fence falls on a chicken I go for it first I run as fast as I can to it then I  help the chicken  then grab it and put it in the coop then I grab the other chickens and put them in the coop then I call my dad and we do teamwork and put the pen back up.</p>

<h2>Do chickens make food </h2>

<%= image_tag "two-eggs.jpg" %>

In a matter of fact yes two ways first their is meat which can make 
<ul>
	<li>soup</li>
	<li>fried chicken</li>
	<li>chicken taco</li>
	<li>chicken sandwitch</li>
</ul>

and now  lets go to the second way eeeeeggggggggggggggggsssssssssssssssss  ! Eggs can make lots of things 

<ul>
	<li>poached eggs</li>
	<li>scrambled eggs</li>
	<li>soft eggs</li>
	<li>hard boiled eggs</li>
	<li>pancakes</li>
	<li>french toast</li>
	<li>cake</li>
	<li>pie</li>
	<li>and  chicks.</li>
</ul>

<h2>Bad things about chickens </h2>

<p> Can chickens pullets and chicks be bad the answer my friend is yes. bad things no eggs meat only.  fast. 9=lbs.  small eggs. aggressive prone to peck attack birds or people. broody not sexed linked. poop a lot 
</p>


